**/*.log
**/*.fls
**/*.fdb_latexmk
**/*.aux
**/*.tgz
**/*.DS_Store
examples/TrivadisLogoSmall-eps-converted-to.pdf
images/TrivadisLogoSmall-eps-converted-to.pdf
examples/templates/trivadis.latex
examples/test_no_listings.pdf
